.input {
    background: #cccccc;
    width: 65%;
    margin-top: 7px;
    padding: 9px;
    outline: none;
    border: none;
    margin-left: 8px;;
}
.label {
    color: #373737;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 1px;
}
.form_container {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    padding: 10px;
    margin: 8px;
    width: 85px;
}

.text {
    margin-left: 12%;
    display: block;
    /* align-items: center; */
    /* justify-content: center; */
}